.login-section {
    width: 57%;
    margin-left:200px;
}
.login-w3l {
    width: 45%;
    /*float: left;*/
    padding: 30px 40px 0px 40px;
    background: rgba(0, 0, 0, 0.40);
    margin-left:500px ;
	/*margin:0 auto;*/
	border-radius:20px;
}
.login-form input[type="text"], .login-form input[type="password"], .login-form input[type="email"] {
    width: 92.5%;
    padding: 15px 15px;
    border: none ;/*border: 2px solid #FFFFFF;*/
    border-bottom: 2px solid #FFFFFF;
    outline: none;
	color: #FFFFFF;
	/*font-color: #FFFFFF;*/
	border-radius:8px;
	height:24px;
    font-size: 18px;
	letter-spacing: 1px;
	margin:0 auto;
    margin-bottom: 30px;
	background:transparent;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
	}
