<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete List</title>
	<link type="text/css" rel="stylesheet" href="../static/css/librarian_style.css" />
</head>
<body background="../static/images/backward.png">
	<header>
		<img src="../static/images/lo.png" style="width:180px;height: 50px;margin-left: 6px;" />
	</header>
	<div id="Bibliosoft" class="menu_list container">   	
		<ul style="list-style-type: none;font-size: 17px;">
			<li><a href="{% url 'librarian_changepwd' %}" style="color: white; ">change password</a></li><br>
			<li><a href="{% url 'librarian_managebook' %}" style="color: white;">manage books</a></li><br>
			<li><a href="{% url 'librarian_addcategory' %}" style="color: white;">add category</a></li><br>
			<li><a href="{% url 'librarian_addreader' %}" style="color: white;">reader register</a></li><br>
			<li><a href="{% url 'librarian_managereader' %}" style="color: white;">manage reader</a></li><br>
			<li><a href="{% url 'librarian_checkincome' %}" style="color: white;">check income</a></li><br>
			<li><a href="{% url 'librarian_post' %}" style="color: white;">edit post</a></li><br>
			<li><a href="{% url 'librarian_lend' %}" style="color: white;">lend book</a><li><br>
			<li><a href="{% url 'librarian_return' %}" style="color: white;">return book</a><li><br>
			<li><a href="{% url 'librarian_home' %}" style="color: white;">return homepage</a><li><br>
			<li><a href="{% url 'homepage' %}" style="color: white;">logout</a><li>
		</ul>
	</div>
    {% if deletelist %}
        <table class="librarian_table">
            <thead>
				<tr>
					<th>book name</th>
					<th>book id</th>
					<th>delete librarian</th>
				</tr>
            </thead>
            <tbody>
                {% for item in deletelist %}
                    <tr>
                        <td>{{ item.book_name }}</td>
                        <td>{{ item.book_id }}</td>
                        <td>{{ item.librarian_id }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

</body>
</html>