<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reader Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Submit">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
<link href="../static/css/librarian_style.css" rel='stylesheet' type='text/css' />
<!--fonts--> 
<style>
	.menu_list {
	width: 17%;
	height: 70%;
	
	margin: 0;
	border-radius: 20px;
	border:1px solid #FFFFFF;
	
	
	position: 'relative';
	float: left ;
	margin-right: -3px;
	}
	.function{
		
		margin: 0 100px;
		float: right ;
	}
    a{ text-decoration:none; 
	margin-left: 1px;}
	a:hover{ text-decoration:underline; } 
	.rest{
		
	}

	.sub_menue
	{
	display:none; 
	             
	}
	li:hover .sub_menue
	{
	display:block;  
	          
	}
	</style>
</head>
<body>
<header>
		<img src="../static/images/lo.png" style="width:180px;height: 45px;margin-left: -1150px;" />
	</header>
	
	
	<div id="Bibliosoft" class="librarian_menu" >
		<!-- <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" >
			<nav id="fh5co-main-menu" role="navigation"> -->
				<ul style="list-style-type: none;">
					<li><a href="{% url 'librarian_changepwd' %}" style="color: white;">change password</a></li><br>
					<li><a href="{% url 'librarian_managebook' %}" style="color: white;">manage books</a></li><br>
					<li><a href="{% url 'librarian_addcategory' %}" style="color: white;">add category</a></li><br>
					<li><a href="{% url 'librarian_addreader' %}" style="color: white;">reader register</a></li><br>
					<li><a href="{% url 'librarian_managereader' %}" style="color: white;">manage reader</a></li><br>
					<li><a href="{% url 'librarian_checkincome' %}" style="color: white;">check income</a></li><br>
					<li><a href="{% url 'librarian_post' %}" style="color: white;">edit post</a></li><br>
					<li><a href="{% url 'librarian_lend' %}" style="color: white;">lend book</a></li><br>
					<li><a href="{% url 'librarian_return' %}" style="color: white;">return book</a></li><br>
					<li><a href="{% url 'librarian_home' %}" style="color: white;">return homepage</a></li><br>
					<li><a href="{% url 'homepage' %}" style="color: white;">logout</a></li><br>
					<li><a href="{% url 'homepage' %}" style="color: white;">other
						<ul class="sub_menue" style="list-style-type: none;">
						<li><a href="{% url 'librarian_deletelist' %}" style="color: white;">check the delete list</a></li>
						<li><a href="{% url 'librarian_addbook' %}" style="color: white;">add book</a></li>
						</ul>
					</a><li>
				</ul>
			<!-- </nav>
		<br><br>
		
	</aside> -->
	</div>
    <!--<a href="{% url 'librarian_changepwd' %}">change password</a>
    <a href="{% url 'librarian_managebook' %}">manage books</a>
    <a href="{% url 'librarian_addcategory' %}">add category</a>
    <a href="{% url 'librarian_changepwd' %}">change password</a>
    <a href="{% url 'librarian_addreader' %}">reader register</a>
    <a href="{% url 'librarian_managereader' %}">manage reader</a>
    <a href="{% url 'librarian_checkincome' %}">check income</a>
    <a href="{% url 'librarian_post' %}">edit post</a>
    <a href="{% url 'librarian_lend' %}">lend book</a>
    <a href="{% url 'librarian_return' %}">return book</a>
    <a href="{% url 'librarian_home' %}">return homepage</a>
    <a href="{% url 'homepage' %}">logout</a>-->
    <!--<h1>Change Password</h1>-->
		<div class="login-section">
	        <div class="login-w3l">	
				<h1 class="sub-head-w3-agileits">Reader Register</h1>
				<div class="login-form">	
							<!--<h3 class="sub-head-w3-agileits">Old Password</h3>-->
				<form action = "{% url 'librarian_addreader' %}" method="post">
					<input type="text" class="user" name="User Name" placeholder="ID"required="" />
										<!--<h4 class="sub-head-w3-agileits">New Password</h4>-->
					<input type="text" class="lock" name="Email" placeholder="Email"required="" />
					<select name="sex">
						<option value="male">male</option>
						<option value="female">female</option>
					</select><!--<div class="signin-rit">
								<div class="clear"> </div>
								</div>-->
					<input type="submit" name="submit" value="Register">
				</form>	
				</div>
				<div class="clear"></div>
			</div> 
		</div>
				

    <!--<form action = "{% url 'librarian_changepwd' %}" method="post">
        <input type="password" placeholder="old password" name="old password">
        <input type="password" placeholder="new password" name="new password"/>
        <br>
        <input type="submit" name="submit" value="submit"/>
    </form>
    <div>{{ ans }}</div>-->
    
</body>
</html>

    
        
